.logo {
  background-color: rgba(221, 204, 204, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.primary-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #FF6700;
  font-family: Cooper Std Black;
  font-size: 50px;
}
.hidden {
  display: none;

}

.team-dropdown-content{
  display: none

}

.middle-team-bar{
  border-radius: 10px;
  border: 10px black solid;
  border-width: medium;
  padding: 20px;
  width: 39vw;
  height: 7vw;
  margin: 5px;
  text-align: center;
  font-size: 30px;
  font-family: fantasy;

}
#team-1-image {
  background-color: blue;

}

#team-2-image {
  background-color: yellow;

}

.base-bball{
  max-width: fit-content;
    border-radius: 11px;
    border: black;
    border-style: solid;
    padding: 10;
    width: 8vh;
    margin: 10px;

}
.base-bball:hover {
  opacity:0.5;

}


.trade-buttons-bar{
  position: fixed;
  bottom: 5px;
  width: fit-content;

}
#back-button{
  background-image: url('png/home-solid.svg');
  background-color: DodgerBlue; /* Blue background */
  background-repeat: no-repeat;
  /*border: none;
  color: dodgerblue; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  margin: 10px;*/
  
}

#reset{
  background-image: url('png/trash-alt-solid.svg');
  background-color: DodgerBlue; /* Blue background */
  /*border: none;  
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  margin: 10px;*/

}

#execute-trade{
  background-image: url('png/hands-helping-solid.svg');
  background-repeat: no-repeat;
  background-color: DodgerBlue; /* Blue background */
  /*border: none;
  color: white;
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  margin: 10px;*/

}

.team-buttons-image-bar{
  display: flex;
  width: fit-content;
  flex-wrap: nowrap;
  flex-direction: row;
  width: fit-content;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;

}

.app {
  width: 100vh;
  height: 100vh;

}

.trade-buttons{
  width: 20vh;
  height: 16vh;
  border: none;
  color: white;
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  margin: 10px;
  border-radius: 11px;

}